﻿body {
}
a{
    font-family: "Chunkfive";
	text-decoration: none;
    color: RosyBrown;
    font-size: 30px;
}
a:hover{
        text-decoration: underline;
        font-size: 30px;
        background-color: RosyBrown;
        color: black;
    }

@font-face {
    font-family: "fff_Tusj";
    src: url("fonts/fff_Tusj.ttf") format('truetype');
}
@font-face{
        font-family: "Chunkfive";
        src: url("fonts/Chunkfive.otf") format('opentype');
}
@font-face{
    font-family: "Chewy";
    src: url("fonts/Chewy.ttf") format('truetype');
}