/* Stylesheet for albumPage */

	.albumtable {
				font-size: 24px; 
				text-align: center; 
				width: 80%; 
				float: center; 
				margin: 0 auto;
				border-collapse: collapse; 
				
	}	
	
	th {background-color: grey;}