/* Stylesheet for albumPage */

	.albumtable {
				font-size: 24px; 
				text-align: center; 
				width: 80%; 
				float: center; 
				margin: 0 auto;
				border-collapse: collapse; 
				
	}	
	
	th {background-color: grey;}
	
	@font-face {
    font-family: 'action_manregular';
    src: url('Action_Man-webfont.eot');
    src: url('Action_Man-webfont.eot?#iefix') format('embedded-opentype'),
         url('Action_Man-webfont.woff') format('woff'),
         url('Action_Man-webfont.ttf') format('truetype'),
         url('Action_Man-webfont.svg#action_manregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

